<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Stupid coaching</h1>
      <p class="lead">Ask your coach anything.</p>
      <div class="d-flex justify-content-md-start mb-4 mb-lg-3">
        <form action="/answer" class="d-flex rounded-3 mt-3">
          <input type="text" name="ask" class="form-control" required="required">
          <input type="submit" value="Ask!" class="ml-3 btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
